body {
  display: flex;
  flex-direction: column;
  font-family: 'Roboto Slab', serif;
}

.nav {
  background-color: pink;
  font-family: 'Roboto Slab', serif;
  font-weight: bold;
  color: black;
}

.nav-link {
  font-family: 'Gidugu', sans-serif;
  font-size: 30px;
}

.homeTitle {
  font-family: 'Gidugu', sans-serif;
  font-size: 50px;
}

.homeBody {
  background-image: url("");
  margin-bottom: 50px;
}

.footer {
  background-color: pink;
  font-family: 'Gidugu', sans-serif;
  font-size: 25px;
  padding: 5px 5px;
  text-align: right;
}

.beachDet {
  padding: 10px 0 5px 0;
  font-family: 'Roboto Slab', serif;
}

.beachDetBody {
  padding-left: 10px;
}

#beachName {
  font-family: 'Gidugu', sans-serif;
  font-size: 30px;
}

.make-res {
  font-family: 'Roboto Slab', serif;
}

.floatie-card {
  display: flex;
  flex-direction: column;
  justify-content:center;
  height: 35rem;
  width: 25rem;
  margin: 1rem;
  font-family: 'Roboto Slab', serif;
}

.fl-card-container {
  display: flex;
  align-items: center;
  padding: 1rem;
  flex-wrap: wrap;
  overflow:hidden;
  text-overflow:ellipsis;
}

.fl-card-img {
  height: 70%;
  object-fit: cover;
}

.floatieBody {
  background-image: url("");
  background-size: cover;
  margin-bottom: 50px;
}

.reservationCard {
  font-family: 'Roboto Slab', serif;
}

#dropdown-basic {
  font-family: 'Gidugu', sans-serif;
  font-size: 25px;
}
