body {
  display: flex;
  flex-direction: column;
  font-family: 'Roboto Slab', serif;
}

.nav {
  background-color: pink;
  font-family: 'Roboto Slab', serif;
  font-weight: bold;
  color: black;
}

.nav-link {
  font-family: 'Gidugu', sans-serif;
  font-size: 30px;
}

#homeTitle {
  font-family: 'Gidugu', sans-serif;
  font-size: 50px;
  color: black;
  text-align: center;
  font-size: 80px;
  font-weight: bold;
}

#welcome {
  font-weight: bolder;
  padding: 10px;
  color: white;
}

.homeBody {
  font-family: 'Roboto Slab', serif;
  background-image: url("https://i.imgur.com/B7Hvlvd.jpg");
  background-size: cover;
  padding: 2rem 0rem 5rem;
  display: flex;
  justify-content: center;
  align-content: center;
}

.footer {
  background-color: pink;
  font-family: 'Gidugu', sans-serif;
  font-size: 25px;
  padding: 5px 5px;
  text-align: right;
}

#beachDet {
  padding: 10px 0 5px 0;
  font-family: 'Roboto Slab', serif;
  color: black;
}

.beachDetBody {
  padding-left: 10px;
  background-color: rgba(255, 255, 255, 0.9);
}

#beachName {
  font-family: 'Gidugu', sans-serif;
  font-size: 30px;
}

#make-res, #make-res-fl {
  font-family: 'Gidugu', sans-serif;
  color: black;
}

.floatieTitle {
  font-family: 'Gidugu', sans-serif;
  display: flex;
  justify-content: center;
}

.fl-card-container {
  background-image: url("https://images.unsplash.com/photo-1522173096622-763cc9d35a3e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60");
  background-size: cover;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-bottom: 3rem;
}

.floatie-card {
  display: flex;
  flex-direction: column;
  justify-content:center;
  height: 35rem;
  width: 25rem;
  margin: 1rem;
  font-family: 'Roboto Slab', serif;
  border-radius: 5px;
  border-color: pink;
}

.fl-card-img {
  height: 70%;
  object-fit: cover;
}

.resList {
  background-image: url("https://i.imgur.com/gZFd3iD.jpg");
  background-size: cover;
}

.resCards {
  display: flex;
  flex-direction: column;
  padding: 3rem 30rem 5rem;
}

#reservationCard {
  font-family: 'Roboto Slab', serif;
  background-color: rgba(255, 255, 255, 0.8);
  font-weight: bolder;
}

#dropdown-basic {
  font-family: 'Gidugu', sans-serif;
  font-size: 25px;
}

#fl-detail-container {
  background-image: url("https://images.unsplash.com/photo-1522173096622-763cc9d35a3e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60");
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  padding: 2rem 0rem 5rem;
  /* margin: 0px; */
}

#fl-detail-img {
  height: 50%;
  object-fit: cover;
  border-bottom-color: pink;
  border-width: 5px;
}

#fl-detail-body {
  padding-bottom: 5rem;
  font-family: 'Roboto Slab', serif;
  display: flex;
  flex-direction: column;
}

#fl-detail-title {
  font-family: 'Gidugu', sans-serif;
  font-size: 40px;
  font-weight: bolder;
  color: pink;
  display: flex;
  justify-content: center;
}

#fl-detail-card, #fl-card {
  border-color: pink;
  border-width: 5px;
}

.modal-body, .modal-footer {
  font-family: 'Roboto Slab', serif;
}

#signup-body, #login-body {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}

.resForm {
  padding: 2rem 2rem 5rem;
  font-family: 'Roboto Slab', serif;
  font-weight: bolder;
  background-image: url("https://images.unsplash.com/photo-1527594037144-789c45c59abc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60");
  background-size: cover;
  color: white;
}

#startDate, #endDate {
  padding: 0 10px 0 0;
}

#resTotal {
  padding: 10px;
  font-family: 'Gidugu', sans-serif;
  font-size: 30px;
  text-decoration: underline;
  color: pink;
}

#resSubmit {
  font-family: 'Gidugu', sans-serif;
  font-size: 30px;
}

.resLabel {
  font-family: 'Gidugu', sans-serif;
  font-size: 30px;
}

.flImage {
  padding-right: 10px;
}

#resFl {
  padding: 5px 0;
}

#radio input[type="radio"] {
  position: relative;
}

#radio label {
  padding: 5px;
}

.beachImg {
  padding-left: 15px;
}

